beautifulsoup4~=4.14.2
google-api-python-client~=2.186.0
google-auth~=2.42.1
google-auth-oauthlib~=1.2.3
isodate~=0.7.2
numpy~=2.3.4
pandas~=2.3.3
plotly~=6.3.1
pygithub~=2.8.1
python-youtube~=0.9.8
requests~=2.32.5
scikit-learn~=1.7.2
tqdm~=4.67.1
tzlocal~=5.3.1
