beautifulsoup4~=4.12
google-api-python-client~=2.149
google-auth~=2.35
google-auth-oauthlib~=1.2
isodate~=0.6
pandas~=2.2
pygithub~=2.4
python-youtube~=0.9
requests~=2.32
tqdm~=4.66
tzlocal~=5.2

pyarrow